# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs and debugging
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
bower_components
jspm_packages
web_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Output
.next
out
.nuxt
dist
.vuepress/dist
.temp
.cache
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
coverage
/build

# Cache
.nyc_output
.grunt
.lock-wscript
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.npm
.eslintcache
.stylelintcache
.yarn-integrity
.pnp.*
.cache
.parcel-cache

# Environment files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.tgz
*.pem
.node_repl_history
.tern-port
.vscode-test
next-env.d.ts

# Vercel
.vercel
